:root  > * {
  --md-primary-fg-color:        hsla(222.7,94%,54.5%, 1);
  --md-primary-fg-color--light: hsla(222.7,94%,65%, 1);
  --md-primary-fg-color--dark:  hsla(222.7,94%,35%, 1);
  --md-accent-fg-color:                hsla(218.8,100%,26.7%, 1);
  --md-accent-fg-color--transparent:   hsla(218.8,100%,26.7%, 0.1);
}